.listado-ambientes {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  
  .pagination {
    --bs-link-color: #215f88;
    a {
      font-weight: 300;
    }
    --bs-border-radius: 0;
    .page-item {
      color: #215f88;
      .active {
        background-color: #215f88;
      }
    }
  }
  
  .boton-style {
    align-items: center;
    //width: 70%;
    margin-left: 5%;
    background-color: #0FA958;
    border-radius: 12%;

    .boton-icon{

      align-items: center;
      width: 1.5rem;
      height: 1.5rem;
      color: white;
    }
  }


