.listado-ambientes {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.pagination {
  --bs-link-color: #215f88;
  a {
    font-weight: 300;
  }
  --bs-border-radius: 0;
  .page-item {
    color: #215f88;
    .active {
      background-color: #215f88;
    }
  }
}

.boton-style {
  align-items: center;
  background-color: #0fa958;

  .boton-icon {
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    color: white;
  }
}

.boton-editar {
  align-items: center;
  background-color: #ffca2c;

  .boton-icon {
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    color: white;
  }
}
