.form-component {
    background-color: aquamarine;
    .input-form {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
}

.input-component {
  /* background-color: azure; */
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}