a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.sidebar-container {
  top: 3rem;
  position: sticky;
  height: calc(100vh - 3rem);
  background-color: rgba(222, 242, 255, 0.66);
  border: 0.5px solid rgba(140, 134, 134, 0.6);

  button {
    border: 0;
  }
}

.nav-link {
  font-size: 14px;
}

.nav-sticky {
  position: sticky;
  top: 4.6rem;
}

// abajo de 768 px
@include media-breakpoint-down(md) {
  /*   max-width: 1920px; */
  .sidebar-container {
    height: auto;
  }

  .main-content {
    margin-top: 15px;
  }

  .form-check-label {
    font-size: 15px;
  }

  .horarios {
    .card-body {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .header-navbar {
    .contacto,
    .sobreNosotros,
    .nombreUsuario {
      // ocultar elementos
      display: none;
    }
  }
}

.registro-ambientes {
  .form-check-input {
    border: 1.15px solid #bababa;
  }

  .modal {
    color: #8c8686;
    img {
      width: 60px;
      height: 60px;
    }

    .modal-dialog {
      padding-left: 85px;
      padding-right: 85px;
    }
  }
}

// Tu otro estilo personalizado si lo tienes

.btn-success {
  background: #0fa958;
  --bs-btn-hover-bg: #0b984d;
  --bs-btn-border-color: #0fa958;
}

.btn-danger {
  background: #ff0000;
  --bs-btn-hover-bg: #df1717;
  --bs-btn-border-color: #ff0000;
}

.iconAlert {
  width: 20px;
}

.boton-style {
  width: 80px;
}

.Fecha {
  min-width: 110px;
}

.Registro {
  min-width: 110px;
}

.Horario {
  min-width: 120px;
}

.Min-Capacidad-Max {
  min-width: 185px;
}

.Materia {
  min-width: 150px;
}

.login {
  .bg-login {
    background: #e1f4ff;
  }
  img {
    width: 180px;
    height: auto;
  }

  .btn-primary {
    --bs-btn-bg: #0691f6;
  }
}

.field-icon {
  float: right;
  margin-right: 10px;
  margin-top: -33px;
  position: relative;
  z-index: 2;
}

/* .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 40%;
  left: 99px;
  opacity: 0.5;
  filter: alpha(opacity=50);
} */

.notificaciones {
  .clickable-row {
    cursor: pointer;
  }

  .bg-leido {
    background-color: #0fa958;
  }

  .bg-noLeido {
    background-color: #ff0000;
  }
}

.iconNotify {
  .btn {
    font-size: 25px;
    color: #215f88;
  }
}

.alertNotify {
  position: absolute;
  top: 13px;
  right: 249px;
  display: inline-block;
  padding: 0 5px;
  height: 13px;
  border: 2px solid #ffffff;
  border-radius: 22px;
  line-height: 13px;
  background-color: #ff0000;
}
