.ficha-ambientes {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 5% 15%;
}

#boton-style{
  border: none;
  align-items: center;
  color: #fff;
  background-color: #0FA958;
  border-radius: 12%;
  font-weight: bold;
}



  
